---
layout: default
---

<article>
  <section>
    <div>
      <h1><a href="/exploration">New album out now!</a></h1>
      <p>From wondering sights to dark places, a new adventure awaits you.</p>
      <footer>
        <p><a href="/exploration">Read more</a></p>
        <time datetime="2023-01-22">22 Jan 2023</time>
      </footer>
    </div>
  </section>
  <picture>
    <a href="/exploration">
      <img src="./images/albums/exploration.jpg" alt="Exploration album cover">
    </a>
  </picture>
</article>
